.switchBtn span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}
.banner:hover .switchBtn span{
  opacity: 1;
}
.switchBtn .left{
  left: 0;
}
.switchBtn .right{
  right: 0;
}