.dotBtn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.dotBtn span{
  display: inline-block;
  border-radius: 50%;
  margin: 6px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
}
.dotBtn span.active{
  background: #f40;
}